# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# 11ty output
/_site/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git worktree
output
